<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <div>
        <h1>Your Account Has Been Deleted!</h1>
        <h2>Redirecting to /login...</h2>
    </div>
</body>
</html>